<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TruyenTranh"
        tools:targetApi="31">
        <activity
            android:name=".MainShowTruyen"
            android:exported="false" />
        <activity
            android:name=".MainAddTruyenTranh"
            android:exported="false" />
        <activity
            android:name=".MainChapter"
            android:exported="false" />
        <activity
            android:name=".MainChinhSua"
            android:exported="false" />
        <activity
            android:name=".MainDanhGiaXem"
            android:exported="false" />
        <activity
            android:name=".MainChiaSe"
            android:exported="false" />
        <activity
            android:name=".MainDanhGia"
            android:exported="false" />
        <activity
            android:name=".MainDangBai"
            android:exported="false" />
        <activity
            android:name=".MainAdmin"
            android:exported="false" />
        <activity
            android:name=".MainThongTin"
            android:exported="false" />
        <activity
            android:name=".MainNoiDung"
            android:exported="false" />
        <activity
            android:name=".MainTimKiem"
            android:exported="false" />
        <activity
            android:name=".MainDangKy"
            android:exported="false" />
        <activity
            android:name=".MainDangNhap"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>